<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613422672008-nqlmbtekbddhh3pumrh7it8k7v1fnjch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613422672008-nqlmbtekbddhh3pumrh7it8k7v1fnjch</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1cvJBd0YeAn2jwFZUpq7srZo2qomTSI</string>
	<key>GCM_SENDER_ID</key>
	<string>613422672008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joyolord.xlcdapp</string>
	<key>PROJECT_ID</key>
	<string>xlcdapp</string>
	<key>STORAGE_BUCKET</key>
	<string>xlcdapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613422672008:ios:7c5735d8ef3e17a325573d</string>
</dict>
</plist>