<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="主的喜樂"></app-explore-container>
</ion-content>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>主的喜樂是我的力量</ion-card-title>
      <ion-card-subtitle>尼希米記 8:10</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      你們不要憂愁，因為靠耶和華而得的喜樂是你們的力量。
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>喜樂的心乃是良藥</ion-card-title>
      <ion-card-subtitle>箴言 17:22</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      喜樂的心乃是良藥，憂傷的靈使骨枯乾。
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>滿足的喜樂</ion-card-title>
      <ion-card-subtitle>詩篇 16:11</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      在你面前有滿足的喜樂，在你右手中有永遠的福樂。
    </ion-card-content>
  </ion-card>
</ion-content>